<li>Инструкция по подключению к бесплатному вебинару</li>
<div>
   <br/> Заранее подготовьте средство связи:
    <br/>компьютер или телефон (андроид или айфон),
    <br/>на котором Вы сможете видеть видеотрансляцию, слышать звук, писать в чате.
    <br/>Установите приложение ZOOM на компьютере через браузер или на мобильном устройстве,
    <br/>скачав приложение из Google Play или Apple Store. Следуйте подсказкам на экране при установке.
    <br/>Видео и аудио желательно отключить, чтобы не мешать конференции, и включать их по приглашению организатора.
</div>
<div>
    <br/>Join Zoom Meeting
<br/><a href="http://us04web.zoom.us/j/5538146346">http://us04web.zoom.us/j/5538146346</a>
<br/>Meeting ID: 553 814 6346
<br/>Password: 730816
</div>
<hr/>
<h1>
Примерный Список тем бесплатных вебинаров.
Каждая тема - это 40 минутная лекция.
</h1>
<div>
    <h2>Сервер базы данных Oracle, Postgresql</h2>
<br/>1 Инсталяция сервера на платформе Oracle Linux, CentOS Linux
<br/>2  Основы языка SQL. Основные конструкции, как изучать SQL.
<br/>3 Серьезный подход к написанию SQL запросов, оптимизация SQL
<br/>4 Объекты базы данных
</div>
<div>
    <h2>Язык Питон</h2>
<br/>1 Основы языка, основные констркции. Песочница, инсталяция и настройка среды разработки
<br/>2 Коллеции, словари, кортежи
<br/>3 Управление памятью в питоне
<br/>4 ООП и язык Питон
<br/>5 Питон и работа с реляционными базами данных.
<br/>6 Генерация отчетов в стандартных форматах (Word, Excel, PDF)
<br/>7 Питон + XML + JSON
<br/>8 Многопоточное и многопроцессорное программирование в Питоне
</div>
<div>
    <h2>Язык Java в распределенных вычислениях</h2>
<br/>1 Основы языка Java, типы данных, ООP, как разрабатывать JSE и JEE приложения.
<br/>2 Сервера приложений от платных до бесплатных
<br/>3 Идеология построение приложений масштаба предприятия, что было и что стало.
<br/>4 Транзакционные механизмы в JEE приложениях, пулы соединений с базами данных.
Фабрики JMS соединений, топики и очереди в асинхронном обмене информацией
<br/>5 REST сервисы в java приложениях
<br/>6 Пример построения  сервера на основе Raspberry и контроллера Wemos
</div>

<div>
    <h2>Web Разработка</h2>
<br/>1 Что было и что будет с WEB разработкой. Экосистема разработки.
<br/>2 ECMA Script или Java Script - Введение в язык разработки клиентского приложения.
<br/>Какую среду разработки выбрать.
<br/>3 Типы данных JS. Основы OOP, TypeScript.
<br/>5 Структура Angular приложения. Начинаем разработку проекта с использованием
NodeJS + Angular
<br/>6 NodeJS и серверное приложение. Exspress сервер. Пул соединения с базой данных.
Поставка на клиентское место данных в виде Json потоков.
<br/>7 Angular и React - что выбрать? Функции, хуки против классов и интерфейсов.
Вам с шашечками, или поехали?
<br/>8 Библиотеки Material для быстрой разработки клиентских приложений.

</div>

