<div>
<h1>О себе</h1>
<hr/>
Дата рождения: 30.10.1959
<hr/>
Образование: Высшее
<hr/>
Место работы: Домашняя лаборатория
<hr/>
Место проживания: Московская область
<hr/>
Интересы: Разработка курсов лекций по новым технологиям разработки корпоративного программного
обеспечения. Чтение собственных курсов лекций на территории заказчика и в учебных центрах России
Основная идея любого курса лекций — донести до слушателя методы разработки программного обеспечения, соответствующего современным стандартам.
<hr/>
Родился 30 Октября 1959 г в г. Орле. В 1977 г закончил среднюю школу и поступил в Московский
Станкоинструментальный Институт (Ныне Университет) на факультет Автоматизации, который закончил в 1982
году.
<hr/>
С 1982 г по 1984 г служба в рядах Вооруженных сил СА в должности Заместитель командира танковой роты по
технической части.
<hr/>
С 1984 г по 2001 год Работал в Электростальском Котельно­Строительном комбинате, занимая должности Мастера
производственного участка, начальника цеха, начальника технологического отдела, зам. Главного инженера
Опытно­Экспериментального завода монтажных конструкций Котельно­Строительного комбината.
С 1987 года приступил к организации Вычислительного Центра Котельно­Строительного комбината, который
функционирует по настоящее время.
<hr/>
Опыт работы с момента основания центра с Clipper, Fox, Для конструкторской подготовки производства
разрабатывались проекты для системы AUTOCAD с использованием языка LISP. Разработка, поддержка и
сопровождение собственных проектов и систем, приобретенных Комбинатом.
<hr/>
В ноябре 1994 года прочитал свой первый курс лекций по использованию системы Clipper. Лекции были
организованы компанией SoftService (Ныне Talgar).
Принимал активное участие в конференциях Корпоративные Системы, Корпоративные Базы Данных, SoftTool.
<hr/>
В 1998 году был приглашен в качестве внештатного преподавателя и консультанта по продуктам Borland, Oracle в
компанию Интерфейс, с которой сотрудничаю в той же роли до настоящего времени.
<hr/>
В 2000 году был приглашен компанией ITC­Education для чтения лекций в Уральском регионе. В том же году начал
читать курсы и от компании Siemens.
<hr/>
В 2004 году был выполнен проект по обучению 120 сотрудников ОВД России по Администрированию сервера
базы данных Oracle. Сотрудничаю с компанией по настоящее время.
<hr/>
С 2001 года по настоящее время сотрудничаю с компанией  Сапфир г. Екатеринбург, АСКИТ г. Санкт­Петербург,
Ланит — филиалы по всей России.
<hr/>
Основные направления, затрагиваемые в моих курсах:
<hr/>
Разработка программного обеспечения для сервера базы данных Oracle, с использованием языков программирования PL/SQL и Java.
<hr/>
Разработка серверных приложений в технологии JEE — SOA, WEB - React, Angular, Сервера баз данных Oracle и
  Postgresql - администрирование и разработка, оптимизация SQL запросов, разработка Отчетов и аналитика - Oracle BI,
  Администрирование серверов приложений - Oracle Weblogic, IBM Sphere, Redhat JBoss-Wildfly
<hr/>
<hr/>
<h2>Компании с которыми приходилось работать:</h2>
Центральный Банк России (Москва)
<hr/>
СберБанк России (Регионы России, Украина, Белорусь)
<hr/>
Банк Москвы (Москва)
<hr/>
Росбанк (Москва)
<hr/>
АльфаБанк (Москва)
<hr/>
Банк ВТБ24 (Москва)
<hr/>
Московский Кредитный банк (Москва)
<hr/>
Приднестровский Центральный банк
<hr/>
Ростовский Сберегательный Банк
<hr/>
Банк Северная Казна
<hr/>
Банк Снежинский (Челябинск)
<hr/>
Армянский Центральный банк (Ереван)
<hr/>
СберБанк г. Самара
<hr/>
АО «Народный банк Казахстана» г. Алма­Аты
<hr/>
Мэрия Москвы (учет жилья)
<hr/>
ОАО Русский Алюминий (Москва)
<hr/>
Министерство образования Свердловской области (Екатеринбург)
<hr/>
МВД России — все регионы России (курс проводи Сиеменс)
<hr/>
Компания Parallels WS Soft г. Москва
<hr/>
Мос Жил Регистрация г. Москва
<hr/>
Компания Диасофт (Москва)
<hr/>
Уралсвязьинформ (Пермь, Ханты­Мансийск, Екатеринбург, Челябинск)
<hr/>
Пермнефтеоргсинтез
<hr/>
Сильвинит
<hr/>
Уралкалий
<hr/>
ВСМПО
<hr/>
Роснефть­Ноябрьскнефтегаз
<hr/>
ТНК­BP (Нижневартовск)
<hr/>
Сургутнефтегаз
<hr/>
СКБ банк
<hr/>
РЖД (г. Новосибирск)
<hr/>
Магнитогорский металлургический комбинат
<hr/>
Уральский электрохимический комбинат
<hr/>
АС­бюро
<hr/>
Ойлтелеком (Сиданко, Ижевск)
<hr/>
Ижевский механический завод
<hr/>
НПО Искра
<hr/>
Уральский Джи Эс Эм (Мегафон)
<hr/>
Брестский завод газового оборудования
<hr/>
Кишиневская городская администрация
<hr/>
Горно­обогатительный комбинат (Костомукша)
<hr/>
Петербургский Международный телефон
<hr/>
Северо ­Запдный телеком (Архангельск)
<hr/>
Завод «Искра» (Северо­Двинск)
<hr/>
КомиЭнерго (Сыктывкар)
<hr/>
Химический Комбинат (Великий Новгород)
<hr/>
Череповецкий Металлургический комбинат
<hr/>
Компания Alcatel (Петербург)
<hr/>
Компания Сиеменс (Москва, Воронеж)
<hr/>
Ново­Липецкий Металлургический комбинат
<hr/>
Мэрия города Липецк
<hr/>
Выксуновский Металлургический завод
<hr/>
Завод Асбест (Асбест)
<hr/>
Министерство Финансов Казахстана (Астана)
<hr/>
Братский деревообрабатывающий комбинат
<hr/>
Авиапредприятие Иркут (Иркутск)
<hr/>
Пермские моторы (Пермь)
<hr/>
Фонд обязательного медицинского страхования (Пермь)
<hr/>
ПермьЭнерго
<hr/>
СалаватНефтеОргСинтез
<hr/>
Горно Обогатительный комбинат (Учалы)
<hr/>
ВолгаТелеком (Самара, Волгоград, Оренбург)
<hr/>
Тольятти — Каучук
<hr/>
Сибирский Научно­Аналитический центр (Тюмень)
<hr/>
Лаборатория программных продуктов (Челябинск)
<hr/>
МЕЧЕЛ (Челябинск)
<hr/>
Саратов­Стекло
<hr/>
Ноябоьск АСУ­Нефть
<hr/>
Новокузнецкий Металлургический комбинат
<hr/>
Западно­Сибирский металлургический комбинат
<hr/>
Каменноугольный разрез Талдинский (Новокузнецк)
<hr/>
Орловский Сталепрокатный завод
<hr/>
Краснокамская Бумажная фабрика
<hr/>
СтинсКом (МЧС России, Москва)
<hr/>
ООО Энергосистемы (Екатеринбург)
<hr/>
Magenta Technologies (Самара)
<hr/>
Трубный завод (Каменск­Уральский)
<hr/>
ОАО «Славнефть­Мегионнефтегаз» (Нижняя Тавда)
<hr/>
ООО «Концерн Энергиярегион» г.Екатеринбург
<hr/>
Котласский Целлюлозо­Бумажный комбинат г.Коряжма
<hr/>
Усть­Илимский Целлюлозо­Бумажный комбинат г.Усть­Илим
<hr/>
ТОО «Елтал­Борлас консалтинг» г. Алма­Аты
<hr/>
Институт Атом­Энерго г. Нижний Новгород
<hr/>
КазахТелеком Казахстан
<hr/>
DHL Supply Chain Москва
<hr/>
Группа компаний «Конфин» Саратов
<hr/>
ОАО Приморское Автодорожное Ремонтное предприятие г. Владивосток
<hr/>
Филиал ОАО ДальЭнегргосбыт г. Владивосток
<hr/>
Управление Росреестр по Приморскому краю г Владивосток
<hr/>
МТС МРДВ (Макро Регион Дальний Восток) г. Владивосток
<hr/>
Приморский Филиал ОАО ДАЛЬСВЯЗЬ г Владивосток
<hr/>
ООО «ХиТ» г. Арсеньев Приморский край
<hr/>
ЗАО «Сервер — Центр» г Владивосток
<hr/>
ОАО АПК Прогресс г. Владивосток
<hr/>
ОАО «Приморнефтепродукт» г Владивосток
<hr/>
ОАО РостВЕРТОЛ г. Ростов­на­Дону
<hr/>
Киев­Стар г. Киев
<hr/>
Сбербанк г. Хабаровск
<hr/>


</div>
